.MuiTextField-root {
    width: 100%;
}

.MuiOutlinedInput-notchedOutline {
    border-color: whitesmoke !important;
}

.MuiFormLabel-root,
.MuiInputBase-input,
.MuiSvgIcon-root {
    color: whitesmoke !important;
}